@model OrderDetailModelDTO

<div class="modal fade" id="modal-@Model.DivId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Unit Price(INT)</th>
                        <th>Total Price</th>
                    </tr>


                    @foreach (var item in Model.OrderDetail) 

                    {

                        <tr>
                            <td>@item.Product.ProductName</td>
                            <td>
                                @if (string.IsNullOrEmpty(item.Product.Image))
                                {
                                    <img src="/img/noimage.jpg" style="width:80px; height:100px" />
                                }

                                else

                                {
                                    <img src="/img/@item.Product.Image" style="width:80px; height:100px" />
                                }
                            </td>

                            <td>
                                @item.Product.Price X @item.Quantity
                            </td>
                            <td>
                                @(item.Product.Price* item.Quantity)
                            </td>
                        </tr>

                    }

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>